doctype html
html(lang='en')
  head
   title WikiData Film API by Stevefaeembra
   link(rel="stylesheet" href="../css/style.css")
  body
    h1
      = "Filmography for "+data.name
    table
      thead
        th
          | Month
        th
          | Year
        th
          | Film         
      tbody
        - for (var film of data.filmography)
          tr
            td 
              = film.month
            td
              = film.year 
            td(class="filmName")
              = film.filmName
            
