doctype html
html(lang='en')
  head
   title WikiData Film API by Stevefaeembra
   link(rel="stylesheet" href="../css/style.css")
  body
    h1
      = "Filmography for "+data.name
    table
      thead
        th
          | Year
        th
          | Month
        th
          | Film         
      tbody
        - let currentYear = data.filmography[0].year
        - for (var film of data.filmography)
          - let year = film.year
          - if (year>currentYear) {
            tr(class="newYear")              
              td
                = film.year 
              td 
                = film.month
              td(class="filmName")
                = film.filmName
          -} else {
            tr 
              td
                = film.year 
              td 
                = film.month
              td(class="filmName")
                = film.filmName
          - }            
          - currentYear = year  
