* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: wheat;
}

body {

}

table {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

td {
  padding: .25rem;
  margin: 0;
}

td.filmName {
  font-weight: bolder;
}

th {
  font-weight: bolder;
  text-align: left;
}

tr.newYear td {
  /* height: 10px; */
  border-top: 2px solid black;
}
